.jumbotron{
	color: white;
	text-shadow: 0px 0px 10px black;
	margin-top: 50px;
	background-image: url(/images/atari.jpg);
	background-size: cover;
	height: 100%;
}

footer{
	padding: 10px 10px 0px 10px;
	color: black;
	background-color: #004466;
	margin-bottom: 0px; 
	margin-top: 10px;
}

.btn-reserv{
	width: 100%;
	border-radius: 0px;

}

.footer-adress-icon{
	padding-right: 10px;
}

.btn-click-icon{
	padding-right: 10px;	
}

.card-tarjeta{
	flex: 1 200px;
	margin-top: 10px;
}

.badge-margin{
	padding-left: 5px;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tab-content {
	padding-top: 10px;
}

#carouselControls{
	padding-top: 10px;
	padding-bottom: 20px;
}